/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  margin: 0px;
  padding: 0px;
}
.parent {
  height: 600px;
}
.header {
  width: 100%;
  text-align: left;
  font-size: 20px;
  padding: 20px;
}
mat-list{
  margin-left: 20px;
  padding-bottom: 353px;
}
.left > .box {
  text-align: left;
  width: 200px;
}